.facebook{
    position: relative;
    width: 100%;margin-top: 5%;
    height: 3%;top:135px;
}
.conectar{
    position: absolute;
    display: inline;
    left: 7%; top:12%;
    color: white;
    margin-block: 0;
    font-size: 0.65rem;
}

.conectar:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}